@import 'normalize.css';
@import url('https:; //fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary: #f6f6f6;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 40px;
}
body {
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    color: #444;
    font-size: 15px;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}
